body{
  background-color:lightblue;
  margin:30pt;
}
canvas {
  border: 1pt solid dimgray;
  height: 200px;
}
input {
  font-size: 12pt;
  font-family:verdana;
}
h1{
  font-family:tahoma;
  color:maroon;
}
h2{
  font-family:georgia;
  color:brown;
}